<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>lastSuica</title>
    <link rel="stylesheet" href="Suica.css" />
</head>

<body>
    <div id="app">
        <label for="name">チャージ金額</label>
        <input type="text" id="memo" class="feedback-input" v-model.number="charge" />
        <button v-on:click="onclick" class="btn-gradient-radius">チャージ</button><br>
        <label>出発駅</label>
        <div class="example">
            <table>
                <tr>
                    <th> <input type="text" v-model.trim="from" class="feedback-input" placeholder="駅名" v-on:change="onchangeFrom" /></th>
                </tr>
                <tr v-for="stationFrom in stationListFrom">
                    <th v-on:click="onclickFrom(stationFrom)">{{stationFrom}}</th>
                </tr>
            </table>
        </div>
        <label>到着駅</label>
        <div class="example">
            <table>
                <tr>
                    <th> <input type="text" class="feedback-input" placeholder="駅名" v-model.trim="to" v-on:change="onchangeTo" /></th>
                </tr>
                <tr v-for="stationTo in stationListTo">
                    <th v-on:click="onclickTo(stationTo)">{{stationTo}}</th>
                </tr>
            </table>
        </div>
        <p>残 高:{{ money }}円</p>
        <input type="button" class="btn-gradient-radius" v-on:click="searchFare" value="検索">

        <table class="example">
            <tbody>
                <tr>
                    <td class="td-time"></td>
                    <td class="td-station-detail"></td>
                    <td class="td-payment-method"></td>
                </tr>
            </tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="td-time"></td>
                <td class="td-station-detail"></td>
                <td class="td-payment-method"></td>
            </tr>
        </table>






        <!--
            経路探索をして何を表示したいのか
            片道運賃　response.data.ResultSet.Course[0].Price[0].Oneway
            出発駅
            到着駅
            出発駅-何路線-到着駅　(例)横芝--ＪＲ総武本線--千葉 response.data.ResultSet.Course[0].Teiki.DisplayRoute
            乗車時間の合計(分) response.data.ResultSet.Course[0].Route.timeWalk
            乗り換え回数 response.data.ResultSet.Course[0].Route.transferCount
            停車駅数　response.data.ResultSet.Course[0].Route.Line.stopStationCount
            路線記号 (例)JO,JY　response.data.ResultSet.Course[0].Route.Line.LineSymbol.Name
            路線名称　(例)ＪＲ総武本線・千葉行 response.data.ResultSet.Course[0].Route.Line.Name
            出発
            番線 response.data.ResultSet.Course[0].Route.Line.DepartureState.no
            時刻 response.data.ResultSet.Course[0].Route.Line.DepartureState.Datetime
             
        -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.29/dist/vue.global.js"></script>
    <script src="Suica.js"></script>
</body>

</html>